* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
  }
  
  :root {
    --background-color: #f5f4f0;
    --border-color: #d9d9d9;
  
    --text-primary: #1b1b1b;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #e1624f;
  
    --accent-blue: #0c51a7;
    --accent-orange: #e95e10;
    --accent-pink: #e5245e;
    --accent-purple: #591b98;
  
    --primary-font: "Open-sans", sans-serif;
  }
  
  body {
    background-color: var(--background-color);
  }
  
  #page {
    box-sizing: border-box;
    width: 1120px;
    padding: 88px 80px 48px 80px;
    margin: auto;
    align-items: center;
  }
  
  #about p {
    font-family: "Open Sans";
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-headline);
  }
  
  #about h1 {
    color: var(--text-primary);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: bold;
  }
  
  #about,
  #gallery {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  #gallery {
    display: flex;
    padding: 4px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
  
  #gallery p {
    color: var(--text-secondary);
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
  }
  
  hr {
    width: 100%;
    height: 1px;
    align-items: center;
    background: var(--border-primary);
  }
  
  img {
    border-radius: 28px;
    width: 100%;
    height: 660px;
  }
  
  #about-content {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  
  #about-content p:first-of-type {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-headline);
  }
  
  #about-content h2 {
    color: var(--text-primary);
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
  }
  
  #about-content h2 + p {
    margin-top: 8px;
    color: var(--text-secondary);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;
    align-self: stretch;
  }
  
  article hr + p {
    color: var(--text-secondary);
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
  }
  
  .card-content img {
    border-radius: 28px;
    width: 100%;
    height: 350px;
    align-self: stretch;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .card-content h3 {
    color: var(--text-primary);
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  
  .card-content p {
    color: var(--text-secondary);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .card-content .history {
    color: var(--accent-blue);
    font-weight: bold;
  }
  
  .card-content .couples {
    color: var(--accent-purple);
    font-weight: bold;
  }
  
  .card-content .families {
    color: var(--accent-pink);
    font-weight: bold;
  }
  
  .card-content .budget {
    color: var(--accent-orange);
    font-weight: bold;
  }
  
  footer {
    text-align: center;
    padding-bottom: 48px;
  }
  
  footer img {
    color: var(--text-secondary);
    vertical-align: middle;
    width: 16px;
    height: 16px;
  }